# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Visual Studio 2015/2017 cache/options directory
.vs/

# Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# OS
.DS_Store
Thumbs.db

# logs
*.log